#gamenA{
  height:100dvh;
  display:flex;
  flex-direction:column;
}

#listA{
  height:60vh;
  border-radius:5px;
  border: peru solid 8px;
  flex:1;
  overflow-y:auto;
  padding:10px;
  /*padding-bottom:120px;*/
}

.menu{
  /*height: 20vh ;*/
  border-radius:5px;
  border: steelblue solid 3px;
  overflow-y:auto;
  padding:8px;
  margin:5px;
}

#gamenB{
display:flex;
flex-direction:column;
}

.listB{
  height:60vh;
  border-radius:5px;
  border: seagreen solid 8px;
  padding:10px;
  overflow-y:auto;
  flex: 1;
}

#box1{
  /*order:1;*/
}

#box2{
  /*order:2;*/
}

.list-container {
    display: flex;
    gap: 8px;
}

.scroll-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.choices {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

button {
 font-size: clamp(13px, 3.5vw, 17px);
 border:1px solid #444;
 padding:5px;
 /*text-align:center;*/
 background:floralwhite;/*#eef3ff;*/
 border-radius:6px;
 cursor:pointer;
 margin-top:5px;
}

button:active{
    background:lightgreen;
}

#player {
  width: 100%;
  margin-top: 5px;
  aspect-ratio:16/9;
}
