#gamenA{
  height:100dvh;
  display:flex;
  flex-direction:column;
}

#listA{
  height:60vh;
  border-radius:5px;
  border: peru solid 8px;
  flex:1;
  overflow-y:auto;
  padding:10px;
  /*padding-bottom:120px;*/
}

#menuA{
  /*height: 20vh ;*/
  border-radius:5px;
  border: peru solid 8px;
  overflow-y:auto;
  /*position:sticky;
  bottom:0;
  left:0;
  width:100%;*/
  padding:10px;
}

#gamenB{
display:flex;
flex-direction:column;
}

.listB{
  height:70vh;
  border-radius:5px;
  border: steelblue solid 8px;
  padding:10px;
  overflow-y:auto;
}

#box1{
  /*order:1;*/
}

#box2{
  /*order:2;*/
}
.choices{
 display:grid;
 grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
 gap:10px;
 margin-top:10px;
}

.choice{
 font-size: clamp(14px, 3.5vw, 18px);
 padding: 12px;
 border:1px solid #444;
 padding:10px;
 text-align:center;
 background:#eef3ff;
 border-radius:6px;
 cursor:pointer;
}

#player {
  /*width: 100%;*/
  aspect-ratio:16/9;
}
